* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size:x-large; */
}

a:link {
    text-decoration: none;
    color: black;
}

.analysis {
    position: fixed;
    top: 1vh;
    left: 45%;
    color: white;
    font-size: 3.3vw;
}

.analysis:hover {
    cursor: pointer;
}

body {
    height: 100vh;
    /* font-family: "Raleway", sans-serif; */
    background: #2F3238;
    /* background: linear-gradient(to right, rgb(155, 210, 203), rgb(235, 235, 178)); */
    font-family: 'Pacifico', cursive;
    color: rgb(117, 179, 157);
    font-size: 1rem;
}

.heading {
    color: rgb(117, 179, 157);
    position: fixed;
    top: 5vh;
    left: 2vw;
    /* transform: translateY(90%); */
    display: inline-block;
    font-size: 2vw;
}

.logout {
    position: fixed;
    top: 7vh;
    right: 2vw;
    width: 15vh;
    height: 5vh;
    background-color: aquamarine;
    border-radius: 5px;
    font-size: 1.2vw;
    color: black;
}

.container {
    transform: translateY(30%);
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7%;
}

.row {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 2rem;
}

.image {
    border-radius: 3rem;
    border-color: #fff;
    background: #50A7FF;
    background-size: cover;
    position: relative;
    flex: 1;
    width: 25vw;
    height: 60vh;
    overflow: hidden;
}

.image img {
    opacity: 0.8;
    height: 60vh;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}

.image:hover img {
    opacity: 1;
}

.image .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.image .details h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transform;
}

.details i {
    font-size: larger;
    margin-left: 50%;
}

.image .details h2 span {
    font-weight: 900;
}

.image:hover .details h2 {
    transform: translateY(-30px);
}

.image .details p {
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.image:hover .details p {
    opacity: 1;
    transform: translateY(-40px);
}

.more {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}

.image:hover .more {
    bottom: 0;
}

.more .read-more {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.more .read-more span {
    font-weight: 900;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Responsive CSS */

@media (max-width: 1080px) {
    .image {
        flex: 100%;
        max-width: 480px;
    }
}

@media (max-width: 400px) {
    .image .details p {
        font-size: 16px;
    }
    .more .read-more,
    .more .icon-links a i {
        font-size: 18px;
    }
}

*::-webkit-scrollbar {
    display: none;
}

.image:hover {
    transform: scale(1.0687);
    cursor: pointer;
}