<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/entry.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
    <h1 class="text">{{t['date']}}</h1>
    <div class="topimage">
        <img src="{{t['link']}}" alt="">
    </div>
    <button class="home"><i class="fa fa-home" aria-hidden="true"></i><a href="/tile">Home</a> </button>

    <div class="main">
        <div class="diaryleft"></div>
        <div class="diaryright">
            <div class="field">
                <h2>Emotion rating</h2>
                <br>
                <br>
                <h4>{{t['face']}}</h4>
            </div>
            <div class="field">
                <h2>Your Story</h2>
                <br>
                <br>
                <h4>{{t['text']}}</h4>
            </div>
        </div>
    </div>
</body>
<script>
    window.addEventListener("scroll", function() {
        let text = document.querySelector('.text')
        let image = document.querySelector("img")
        let button = document.querySelector('.home')
        button.classList.toggle("homeinactive", window.scrollY > 800)
        image.classList.toggle("first", window.scrollY > 230);
        text.classList.toggle("active", window.scrollY > 160);

    })
</script>

</html>